# Copiaza in .env si completeaza cu URL-ul tau Railway
REACT_APP_API_URL=https://web-production-31150.up.railway.app/api
REACT_APP_API_URL=https://web-production-31150.up.railway.app/api
REACT_APP_WEATHER_API_KEY=your_openweathermap_key_here